Security 1 2
XXXXX
XXIXX
XICIX
XXIXX
XXXXX

Bee 2 3
XXXXX
XIIXX
XICIX
XIIXX
XXXXX

Mandragora 3 4
XXIXX
XIIXX
XICIX
XIIXX
XXIXX

Viper 1 2
XXXXX
XXIXX
XICIX
XXIXX
XXXIX

Shield 2 3
XXXXI
XXIXX
XICIX
XXIXX
XXXXX

Fire 3 4
XXXXX
XXIXX
XICIX
XIIXX
XXXXX

Wind 1 2
XXXXX
XXIXX
XICIX
XXIXX
XIIXX

Earth 2 3
XXXXX
XIIXX
XICIX
XXIXX
XXXXX

Water 3 4
XXXXI
XXIXX
XICIX
XXIXX
XXXXI

Light 1 2
XXXXX
XXIXX
XXCIX
XIIXX
XXXXI

Dark 2 3
XXXXI
XXIXX
XICIX
XXIXX
XXXIX

Stone 3 4
XXXXX
XIIXX
XICIX
XIIXX
XXXXX

Gold 1 2
XXIXX
XIIXX
XICIX
XXIXX
XXIXX

Silver 2 3
XXXXX
XXIXX
XICIX
XXIXX
XIXXX

Bronze 3 4
XXXXX
XIIXX
XICIX
XXIXX
XXXXX

Spark 1 2
XXXXX
XXIXX
XICIX
XXIXX
XIIXX

Flame 2 3
XXXXI
XXIXX
XICIX
XIIXX
XXXXX

Aqua 3 4
XXXXX
XXIXX
XICIX
XXIXX
XXXXI

Breeze 1 2
XXXXX
XXIXX
XICIX
XIXXX
XXXXX

Nova 2 3
XXXXX
XXIXX
XICIX
XXIXX
IXXXX

Lunar 3 4
IXXXX
XXIXX
XICIX
XXIXX
XXXXX

Solar 1 2
XXXXX
IXXIX
XICIX
IXXIX
XXXXX

Petal 2 3
XXXXX
XXIXX
XICIX
XXIXX
XXIXX

Flutter 3 4
XXXXX
XXIXX
XICXX
XXIIX
XIXXX

Minimal 1 2
XXXXX
XXIXX
XXCXX
XXIXX
XXXXX

Dewdrop 2 3
XXXXI
XXIXX
XICXX
XXIXX
XXXXX

Whisker 3 4
XIXXX
XXIXX
XICIX
XXIXX
XXXXI

Puddle 1 2
XXXXX
XIIXX
XICIX
XXIXX
XXXXI

Moonbeam 2 3
XXXXI
XXIXX
XICIX
XIIXX
XXXXX

Stardust 3 4
XXXXX
XXIXX
XICIX
XIIXX
IXXXX

Ember 1 2
XXXXX
XIXXX
XICIX
XXIXX
XXXXX

Frost 2 3
XXXXI
XXIXX
XICIX
XIXXX
XXXXX

Blossom 3 4
XXXXX
XXIXX
XICIX
XXIXX
XIXXX

Misty 1 2
XXXXX
XIIXX
XICIX
XXIXX
XIIXX

Ripple 2 3
XXXXX
XXIXX
XICIX
XIIXX
XXXXI

Twinkle 3 4
XXXXI
XIIXX
XICIX
XXIXX
XXXXX

Glimmer 1 2
XXXXX
XXIXX
XICIX
XXIXX
XXXXI

Sprout 2 3
XXXXX
XXIXX
XICIX
XIIXX
XXIXX

Pippin 3 4
XXXXX
XIIXX
XICIX
XXIXX
XXIXX

Snuggle 1 2
XXXXX
XXIXX
XICIX
XXIXX
IXXXX

Cuddle 2 3
XXXXI
XXIXX
XICIX
XXIXX
XXXXI

Glowy 3 4
XXXXX
XIXXX
XICIX
XXIXX
XXXXI

Bubbly 1 2
XXXXI
XXIXX
XICIX
XIXXX
XXXXI

Dazzle 2 3
XXXXX
XXIXX
XICIX
XIXXX
IXXXX

Sunny 3 4
XXXXI
XIIXX
XICIX
XXIXX
XIXXX

Shimmer 1 2
XXXXX
XIIXX
XICIX
XIXXX
XXXXI

Flurry 2 3
XXXXI
XXIXX
XICIX
XXIXX
XIXXX

Chirp 3 4
XXXXX
XXIXX
XICIX
XXIIX
XXXXX

Sizzle 1 2
XXXXI
XIIXX
XICXX
XXIIX
XXXXX
