Mu 2 1
XXXXX
XXXUX
XXCIX
XXIXX
XXXXX

Flame 1 3
XXXXX
XDIXX
XDCXX
XDIXX
XXXXX

Crab 1 1
XXXXX
XXUXX
XICIX
XXXXX
XXXXX

Security 1 2
XXXXX
XDIUX
XDCIX
XUIUX
XXXXX

Bee 2 3
XDUDX
XUIUX
XDCIX
XUIUX
XDDUX

Mandragora 3 4
XXUUX
XDIUX
XDCIX
XUIUX
XXDXX

Viper 1 2
XDUIX
XXIUX
XDCIX
XUIUX
XDIUX

Shield 2 3
XDXUI
XDIUX
XDCIX
XUIUX
XDUDX

Fire 3 4
XDUUX
XXIUX
XDCIX
XUIUX
XDIUX

Wind 1 2
XDUIX
XXIUX
XDCIX
XDIUX
XUIUX

Earth 2 3
XDUUX
XUIUX
XDCIX
XUIUX
XDDUX

Water 3 4
XDXUI
XUIUX
XDCIX
XDIUX
XUXUI

Light 1 2
XDUIX
XUIUX
XXCIX
XDIUX
XDUIX

Dark 2 3
XDXUI
XDIUX
XDCIX
XUIUX
XDUIX

Stone 3 4
XDUUX
XUIUX
XDCIX
XUIUX
XDUIX

Gold 1 2
XXUIX
XUIUX
XDCIX
XDIUX
XDUIX

Silver 2 3
XDUIX
XUIUX
XDCIX
XUIUX
XUXUI

Bronze 3 4
XDDUX
XUIUX
XDCIX
XDIUX
XDUIX

Spark 1 2
XDUIX
XDIUX
XDCIX
XUIUX
XDIUX

Flame 2 3
XDXUI
XUIUX
XDCIX
XUIUX
XDUIX

Aqua 3 4
XDUUX
XDIUX
XDCIX
XDIUX
XDUIX

Breeze 1 2
XDUIX
XUIUX
XDCIX
XDIUX
XDUIX

Nova 2 3
XDUIX
XDIUX
XDCIX
XUIUX
XDUIX

Lunar 3 4
XUIUX
XDIUX
XDCIX
XUIUX
XDUUX

Solar 1 2
XDIUX
XUXUX
XDCIX
XUXUX
XDIUX

Petal 2 3
XDUIX
XUIUX
XDCIX
XDIUX
XDUIX

Flutter 3 4
XDUIX
XDIUX
XDCUX
XDIUX
XDUIX

Minimal 1 2
XDIUX
XUIUX
XXCUX
XDIUX
XDUIX

Dewdrop 2 3
XDUIX
XUIUX
XDCUX
XUIUX
XDUIX

Whisker 3 4
XUIUX
XDIUX
XDCIX
XDIUX
XUXUI

Puddle 1 2
XDUIX
XUIUX
XDCIX
XDIUX
XUXUI

Moonbeam 2 3
XDXUI
XUIUX
XDCIX
XDIUX
XDUIX

Stardust 3 4
XDUUX
XDIUX
XDCIX
XUIUX
XUXUI

Ember 1 2
XDUIX
XDIUX
XDCIX
XUIUX
XDIUX

Frost 2 3
XDXUI
XUIUX
XDCIX
XDIUX
XDUIX

Blossom 3 4
XDUIX
XUIUX
XDCIX
XUIUX
XDUIX

Misty 1 2
XDUUX
XDIUX
XDCIX
XUIUX
XUIUX

Ripple 2 3
XUIUX
XUIUX
XDCIX
XDIUX
XUXUI

Twinkle 3 4
XDXUI
XUIUX
XDCIX
XDIUX
XUIUX

Glimmer 1 2
XDUIX
XDIUX
XDCIX
XUIUX
XDUIX

Sprout 2 3
XDUUX
XDIUX
XDCIX
XDIUX
XUIUX

Pippin 3 4
XDUIX
XUIUX
XDCIX
XDIUX
XDUIX

Snuggle 1 2
XDUIX
XDIUX
XDCIX
XDIUX
XUIUX

Cuddle 2 3
XDXUI
XUIUX
XDCIX
XDIUX
XDXUI

Glowy 3 4
XDUUX
XDIUX
XDCIX
XUIUX
XDUIX

Bubbly 1 2
XDXUI
XUIUX
XDCIX
XDIUX
XDUIX

Dazzle 2 3
XDUIX
XDIUX
XDCIX
XDIUX
XUXUI

Sunny 3 4
XDXUI
XDIUX
XDCIX
XUIUX
XDXUI

Shimmer 1 2
XDUUX
XUIUX
XDCIX
XDIUX
XDXUI

Flurry 2 3
XDXUI
XDIUX
XDCIX
XDIUX
XDUIX

Chirp 3 4
XDUIX
XUIUX
XDCIX
XDIUX
XDUIX

Sizzle 1 2
XDXUI
XDIUX
XDCUX
XDIUX
XDUIX
