Joe 1 1
XXXXX
XXXXX
XXCIU
XXIXX
XXXXX

James 1 3
XXXXX
XUDIX
XUCDX
XUIIX
XXXXX

Brenda 1 1
XXXXX
XXUIX
XUCUX
XXXDX
XDXXX

Samantha 1 2
XXXXX
XUIIX
XICIX
XDUDX
XXXDD

Burt 1 3
XDUUX
XUUUX
XDCUI
XXDUX
XXXUU

Mandy 1 4
XXUDX
XXUIX
XDCUX
XUXIX
XXIXX

Vi 1 2
XXUII
XXIUX
XXCDX
XUDUD
XUXUI

S 1 3
XXDIU
XXUUX
XUCDX
XUXDX
XXUDX

Fi 1 4
XDUIX
XDXIX
XXCXX
XDXUI
XXXUX

Winnie 1 2
XDUDX
XDXUX
XXCUX
XUXUD
XIUXX

Earl 1 3
XXUUX
XUDUX
XXCXU
XUIUX
XDDDX

Walter 1 4
XDIUU
XUUUX
XXCUX
XXUUX
XUXXU

Lex 1 2
XXXUX
UXDDD
XXCDX
XDDIX
XXIDX

Domingo 1 3
XDXUD
XXXDX
XUCDI
XDXUD
XXIXX

Sally 1 4
IDXUI
XXXDX
XXCDU
XDDXX
XXDIX



Mu 2 1
XXXXX
XXXUX
XXCUX
XXUXX
XXXXX

Flame 1 3
XXXXX
XUUXX
XUCXX
XUUXX
XXXXX

Crab 1 1
XXXXX
XXUXX
XUCUX
XXXXX
XXXXX

Security 1 2
XXXXX
XUUUX
XUCUX
XUUUX
XXXXX

Bee 2 3
XXUUX
XUUUX
XUCUX
XUUUX
XXXUU

Mandragora 3 4
XXUUX
XXUUX
XXCUX
XUXUX
XXXXX

Viper 1 2
XXUXX
XXXUX
XXCXX
XUXUX
XUXUX

Shield 2 3
XXXUU
XXUUX
XUCXX
XUXUX
XXUUX

Fire 3 4
XUUXX
XXXUX
XXCXX
XUXUX
XXXUX

Wind 1 2
XUUXX
XXXUX
XXCUX
XUXUX
XXUXX

Earth 2 3
XXUUX
XUXUX
XXCXU
XUXUX
XXXXX

Water 3 4
XXXUU
XUUUX
XXCUX
XXUUX
XUXXU

Light 1 2
XXXXX
XXDDD
XXCDX
XDDDX
XXDDX

Dark 2 3
XDXDD
XXXDX
XXCDX
XDXUD
XXXXX

Stone 3 4
XDXDX
XXXDX
XXCDX
XDDXX
XXDDX

Gold 1 2
XXDDX
XXXDX
XXCDX
XDIXD
XXXDX

Silver 2 3
XXDDX
XDDXX
XDCDX
XDXXD
XXXXD

Bronze 3 4
XXDXX
XXXXX
XXCXD
XDXXX
XDDDX

Spark 1 2
XDXXX
XXDDX
XXCDX
XDDXX
XXDXX

Flame 2 3
XXXDD
XXXDX
XXCXD
XXXXX
XDXXD

Aqua 3 4
XDXXD
XXXXD
XXCXD
XDXXD
XXXXD

Breeze 1 2
XDXXX
XXXDX
XXCDD
XXDXX
XXXDX

Nova 2 3
XXXXD
XDDXX
DXCXD
XXXXD
XXXXX

Lunar 3 4
XDDXX
XXXXD
XDCXX
XXXXX
DDDDD

Solar 1 2
XXIUX
XUXUD
XDCIX
XXXUD
XDIUX

Petal 2 3
XXIIX
XIIXX
XXCIX
XXIXI
XIXIX

Flutter 3 4
XXXIX
XIIIX
XXCIX
XIIXX
XIXIX

Minimal 1 2
XIIXX
XXIXX
XXCXX
XXIIX
XXXXX

Dewdrop 2 3
XDUIX
XUIUX
XDCUX
XUIUX
XDUIX

Whisker 3 4
XUIUX
XDIUX
XDCIX
XDIUX
XUXUI

Puddle 1 2
XDUIX
XUIUX
XDCIX
XDIUX
XUXUI

Moonbeam 2 3
XDXUI
XUIUX
XDCIX
XDIUX
XDUIX

Stardust 3 4
XDUUX
XDIUX
XDCIX
XUIUX
XUXUI

Ember 1 2
XDUIX
XDIUX
XDCIX
XUIUX
XDIUX

Frost 2 3
XDXUI
XUIUX
XDCIX
XDIUX
XDUIX

Blossom 3 4
XDUIX
XUIUX
XDCIX
XUIUX
XDUIX

Misty 1 2
XDUUX
XDIUX
XDCIX
XUIUX
XUIUX

Ripple 2 3
XUIUX
XUIUX
XDCIX
XDIUX
XUXUI

Twinkle 3 4
XDXUI
XUIUX
XDCIX
XDIUX
XUIUX

Glimmer 1 2
XDUIX
XDIUX
XDCIX
XUIUX
XDUIX

Sprout 2 3
XDUUX
XDIUX
XDCIX
XDIUX
XUIUX

Pippin 3 4
XDUIX
XUIUX
XDCIX
XDIUX
XDUIX

Snuggle 1 2
XXXIX
XXIIX
XXCIX
XIIIX
XXIIX

Cuddle 2 3
XIXII
XIIIX
XXCXX
XXIIX
XXXII

Glowy 3 4
XXXXX
XXXIX
XICIX
XXIXX
XIIIX

Bubbly 1 2
XIXIX
XXIIX
XXCIX
XIIIX
XXXXX

Dazzle 2 3
XXIIX
XXIIX
XXCIX
XXIIX
XXXII

Sunny 3 4
XIIXX
XXIIX
XXCIX
XIXIX
XXXXI

Shimmer 1 2
XIIIX
XXIXX
XICIX
XIIIX
XXXXX

Flurry 2 3
XXXXI
XXIXX
XXCII
XXIXX
XXXIX

Chirp 3 4
XXIXX
XXIIX
XXCII
XXIIX
XXIXX

Sizzle 1 2
XXXII
XXIIX
XXCIX
XXIXX
XXXIX
