Security 1 2
XXXXX
XXIXX
XICIX
XXIXX
XXXXX
Bee 1 1
XXIXX
XXXXX
XXCXX
XXXXX
XXIXX
Sunburst 2 3
XXXXX
XIIIX
XICIX
XIIIX
XXXXX
Crossblade 3 4
IXIXI
XXIXX
XICIX
XXIXX
IXIXI
Vortex 2 3
XXXXX
XIIIX
XICIX
XIIIX
XXXII
Hydra 3 5
IXXXI
XXXXX
XXCXX
XXXXX
IXXXI
Shockwave 2 2
XXXXX
XXXXX
IICII
XXXXX
XXXXX
Phantom 1 1
XXXIX
XXXXX
XXCXX
XXXXX
XXXIX
Nova 3 3
IXIXI
XXXXX
XICIX
XXXXX
IXIXI
Tsunami 2 4
XXXXX
XXXXX
IICII
IIXII
IIIIX
Dragon 3 4
IXXXI
XXIXX
XICIX
XXIXX
IXXXI
Miasma 1 2
XXXXX
XXIXX
XICIX
XXIXX
XXXXX